/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0d0d0d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


/* NAVBAR */
.cine-navbar {
    background: #0d0d0d;
    padding: 18px 0;
}

.cine-logo {
    color: #fff !important;
    font-size: 28px;
    font-weight: 700;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #e50914;
}

.login-btn {
    background: #e50914;
    color: #fff !important;
    padding: 10px 25px !important;
    border-radius: 6px;
}

.login-btn:hover {
    background: #b20710;
}


/* HERO */

.food-hero {
    height: 500px;
    background-image: url(
        "https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?auto=format&fit=crop&w=2000&q=80"
    );
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 8%;
}

.hero-content {
    max-width: 700px;
}

.hero-small-title {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: bold;
}

.hero-text {
    color: #ddd;
    font-size: 18px;
    margin: 20px 0 30px;
}

.explore-btn {
    background: #e50914;
    color: white;
    padding: 13px 25px;
    border-radius: 6px;
    font-weight: bold;
}

.explore-btn:hover {
    background: #b20710;
    color: white;
}


/* COMMON SECTIONS */

.food-section,
.category-section,
.combo-section,
.cart-section {
    padding: 70px 0;
}

.dark-section,
.category-section,
.sweet-section,
.cart-section {
    background: #151515;
}

.section-title {
    margin-bottom: 35px;
}

.section-title p,
.section-label {
    color: #e50914;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.section-title h2,
.sweet-section h2 {
    font-size: 34px;
    font-weight: bold;
}


/* CATEGORIES */

.category-card {
    background: #1d1d1d;
    padding: 25px 10px;
    margin: 5px;
    border-radius: 10px;
}

.category-card:hover {
    background: #e50914;
}

.category-card div {
    font-size: 35px;
    margin-bottom: 10px;
}

.category-card p {
    margin: 0;
    font-weight: bold;
}


/* FOOD CARDS */

.food-card {
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.food-card:hover,
.small-food-card:hover {
    transform: translateY(-5px);
}

.food-image {
    height: 240px;
    position: relative;
}

.food-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-image span {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #e50914;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.food-details {
    padding: 20px;
}

.food-details h4,
.small-food-card h4 {
    font-size: 20px;
    font-weight: bold;
}

.food-details p,
.small-food-card p {
    color: #999;
}

.food-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.food-bottom strong {
    font-size: 20px;
}

.food-bottom button,
.combo-card button {
    border: none;
    background: #e50914;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
}

.food-bottom button:hover,
.combo-card button:hover {
    background: #b20710;
}


/* CINEMA BANNER */

.cinema-banner {
    height: 300px;
    background-image: url(
        "https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?auto=format&fit=crop&w=2000&q=80"
    );
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cinema-banner h2 {
    font-size: 42px;
    font-weight: bold;
}

.cinema-banner p {
    font-size: 18px;
    color: #ddd;
}


/* SMALL FOOD CARDS */

.small-food-card {
    background: #181818;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 20px;
}

.small-image {
    height: 120px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 8px;
    margin-bottom: 15px;
}


/* SWEET CORNER */

.sweet-section {
    padding: 70px 0;
}

.sweet-card {
    background: #1d1d1d;
    padding: 25px;
    border-radius: 10px;
    font-size: 35px;
    margin-bottom: 15px;
}

.sweet-card span {
    display: block;
    font-size: 17px;
    margin-top: 8px;
}


/* COMBOS */

.combo-section {
    background: #0d0d0d;
}

.combo-card {
    background: #35070b;
    padding: 35px 20px;
    border-radius: 12px;
    text-align: center;
    height: 100%;
    margin-bottom: 20px;
}

.combo-card h3 {
    font-size: 24px;
    font-weight: bold;
}

.combo-card p {
    color: #ccc;
}

.combo-card h4 {
    font-size: 28px;
    margin: 20px 0;
}


/* CART */

.cart-box {
    background: #1d1d1d;
    max-width: 550px;
    margin: auto;
    padding: 40px;
    border-radius: 12px;
}

.cart-icon {
    font-size: 50px;
}

.cart-box h2 {
    font-size: 32px;
    font-weight: bold;
}

.cart-box p {
    color: #999;
    margin: 15px 0 25px;
}

.cart-btn {
    border: none;
    background: #e50914;
    color: white;
    padding: 13px 30px;
    border-radius: 6px;
    font-weight: bold;
}


/* FOOTER */

.footer {
    background: #080808;
    padding: 50px 0 20px;
}

.footer-logo {
    font-size: 27px;
    font-weight: bold;
}

.footer p {
    color: #888;
    margin-top: 15px;
}

.footer hr {
    border-color: #333;
}

.copyright {
    font-size: 14px;
}


/* MOBILE */

@media (max-width: 768px) {

    .nav-link {
        margin-left: 0;
    }

    .food-hero {
        height: 550px;
        padding-left: 5%;
    }

    .hero-content h1 {
        font-size: 42px;
    }

    .cinema-banner h2 {
        font-size: 30px;
    }
}